# 컴프리헨션

## https://wikidocs.net/22805

* 리스트 컴프리헨션

In [1]:
numbers = []
for n in range(1, 10+1):
    numbers.append(n)

In [2]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
[2*x for x in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
[ 2*x for x in range(1, 10+1) ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
even_numbers = []
for n in range(1, 10+1):
    if n % 2 == 0:
        even_numbers.append(n)

In [6]:
even_numbers

[2, 4, 6, 8, 10]

In [7]:
[x for x in range(1, 10+1) if x % 2 == 0]

[2, 4, 6, 8, 10]

* 중복 표현
    * 컴프리헨션은 내부에서 for 키워드와 if키워드를 몇번이고 반복

In [8]:
[(x, y) for x in ['쌈밥', '치킨', '피자'] for y in ['사과', '아이스크림', '커피']]

[('쌈밥', '사과'),
 ('쌈밥', '아이스크림'),
 ('쌈밥', '커피'),
 ('치킨', '사과'),
 ('치킨', '아이스크림'),
 ('치킨', '커피'),
 ('피자', '사과'),
 ('피자', '아이스크림'),
 ('피자', '커피')]

In [9]:
[(y, x) for x in ['쌈밥', '치킨', '피자'] for y in ['사과', '아이스크림', '커피']]

[('사과', '쌈밥'),
 ('아이스크림', '쌈밥'),
 ('커피', '쌈밥'),
 ('사과', '치킨'),
 ('아이스크림', '치킨'),
 ('커피', '치킨'),
 ('사과', '피자'),
 ('아이스크림', '피자'),
 ('커피', '피자')]

In [10]:
[(y, x) for y in ['사과', '아이스크림', '커피'] for x in ['쌈밥', '치킨', '피자']]

[('사과', '쌈밥'),
 ('사과', '치킨'),
 ('사과', '피자'),
 ('아이스크림', '쌈밥'),
 ('아이스크림', '치킨'),
 ('아이스크림', '피자'),
 ('커피', '쌈밥'),
 ('커피', '치킨'),
 ('커피', '피자')]

In [11]:
[(x, z, y) for x in ['쌈밥', '치킨', '피자']
           for y in ['사과', '아이스크림', '커피']
           for z in ['배달 시키기', '가서 먹기']]

[('쌈밥', '배달 시키기', '사과'),
 ('쌈밥', '가서 먹기', '사과'),
 ('쌈밥', '배달 시키기', '아이스크림'),
 ('쌈밥', '가서 먹기', '아이스크림'),
 ('쌈밥', '배달 시키기', '커피'),
 ('쌈밥', '가서 먹기', '커피'),
 ('치킨', '배달 시키기', '사과'),
 ('치킨', '가서 먹기', '사과'),
 ('치킨', '배달 시키기', '아이스크림'),
 ('치킨', '가서 먹기', '아이스크림'),
 ('치킨', '배달 시키기', '커피'),
 ('치킨', '가서 먹기', '커피'),
 ('피자', '배달 시키기', '사과'),
 ('피자', '가서 먹기', '사과'),
 ('피자', '배달 시키기', '아이스크림'),
 ('피자', '가서 먹기', '아이스크림'),
 ('피자', '배달 시키기', '커피'),
 ('피자', '가서 먹기', '커피')]

In [12]:
for x in ['쌈밥', '치킨', '피자']:
    for y in ['사과', '아이스크림', '커피']:
        for z in ['배달 시키기', '가서 먹기']:
            print(x, z, y)

쌈밥 배달 시키기 사과
쌈밥 가서 먹기 사과
쌈밥 배달 시키기 아이스크림
쌈밥 가서 먹기 아이스크림
쌈밥 배달 시키기 커피
쌈밥 가서 먹기 커피
치킨 배달 시키기 사과
치킨 가서 먹기 사과
치킨 배달 시키기 아이스크림
치킨 가서 먹기 아이스크림
치킨 배달 시키기 커피
치킨 가서 먹기 커피
피자 배달 시키기 사과
피자 가서 먹기 사과
피자 배달 시키기 아이스크림
피자 가서 먹기 아이스크림
피자 배달 시키기 커피
피자 가서 먹기 커피

* 여러 조건

In [13]:
[x for x in range(10) if x < 5 if x % 2 == 0 ]

[0, 2, 4]

In [14]:
[x for x in range(10) if x < 5 and x % 2 == 0 ]

[0, 2, 4]

* 구구단

In [15]:
for x in range(2, 10):
    for y in range(1, 10):
        print(x, '*', y, '=', x * y, end = ' ')
    print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [16]:
[(x, y, x*y) for x in range(2, 10) for y in range(1, 10)]

[(2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

## https://doorbw.tistory.com/174

In [17]:
a = list('abcde')
b = list('12345')

In [18]:
a

['a', 'b', 'c', 'd', 'e']

In [19]:
b

['1', '2', '3', '4', '5']

In [20]:
c = [i+j for i in a for j in b]
print(c)

['a1', 'a2', 'a3', 'a4', 'a5', 'b1', 'b2', 'b3', 'b4', 'b5', 'c1', 'c2', 'c3', 'c4', 'c5', 'd1', 'd2', 'd3', 'd4', 'd5', 'e1', 'e2', 'e3', 'e4', 'e5']

* 두 개의 조건문 사용하기

In [21]:
[i for i in range(50) if i%2 == 0 if i%3 == 0]

[0, 6, 12, 18, 24, 30, 36, 42, 48]

* 삼항 연산식

In [22]:
i = 10
x = 'even' if i%2 == 0 else 'odd' # 삼항 연산식
x

'even'

In [23]:
['even' if i%2 == 0 else 'odd' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [24]:
x

'even'

In [25]:
['zero' if i== 0 else 'even' if i%2 == 0 else 'odd' for i in range(10)]

['zero', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [26]:
i = 0
s = 'zero' if i== 0 else 'even' if i%2 == 0 else 'odd' 
s

'zero'

# 제너레이터 연산식

In [27]:
a = (i+1000 for i in range(10))
a

In [28]:
a

In [29]:
next(a)

1000

In [30]:
next(a)

1001

In [31]:
list(a)

[1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009]

In [32]:
list(a)

[]

## https://ddanggle.gitbooks.io/interpy-kr/ch15-comprehension.html

In [33]:
input_list = range(10)
variable = [out_exp for out_exp in input_list if out_exp == 2]
variable

[2]

In [34]:
multiples = [i for i in range(30) if i % 3 is 0]
multiples

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [35]:
multiples

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

* 사전 컴프리헨션

In [36]:
mcase = {'a': 10, 'b': 34, 'A':7, 'Z':3}
mcase

{'a': 10, 'b': 34, 'A': 7, 'Z': 3}

In [37]:
{i: k for i, k in enumerate(range(10, 10+10))}

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [38]:
{i: k for i, k in enumerate(range(ord('a'), ord('a')+26))}

{0: 97,
 1: 98,
 2: 99,
 3: 100,
 4: 101,
 5: 102,
 6: 103,
 7: 104,
 8: 105,
 9: 106,
 10: 107,
 11: 108,
 12: 109,
 13: 110,
 14: 111,
 15: 112,
 16: 113,
 17: 114,
 18: 115,
 19: 116,
 20: 117,
 21: 118,
 22: 119,
 23: 120,
 24: 121,
 25: 122}

In [39]:
{i: chr(k) for i, k in enumerate(range(ord('a'), ord('a')+26))}

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'j',
 10: 'k',
 11: 'l',
 12: 'm',
 13: 'n',
 14: 'o',
 15: 'p',
 16: 'q',
 17: 'r',
 18: 's',
 19: 't',
 20: 'u',
 21: 'v',
 22: 'w',
 23: 'x',
 24: 'y',
 25: 'z'}

In [40]:
{chr(i + ord('A')): chr(k) for i, k in enumerate(range(ord('a'), ord('a')+26))}

{'A': 'a',
 'B': 'b',
 'C': 'c',
 'D': 'd',
 'E': 'e',
 'F': 'f',
 'G': 'g',
 'H': 'h',
 'I': 'i',
 'J': 'j',
 'K': 'k',
 'L': 'l',
 'M': 'm',
 'N': 'n',
 'O': 'o',
 'P': 'p',
 'Q': 'q',
 'R': 'r',
 'S': 's',
 'T': 't',
 'U': 'u',
 'V': 'v',
 'W': 'w',
 'X': 'x',
 'Y': 'y',
 'Z': 'z'}

In [41]:
mcase = {'a': 10, 'b': 34, 'A':7, 'Z':3}
mcase

{'a': 10, 'b': 34, 'A': 7, 'Z': 3}

In [42]:
[ k for k in mcase.keys()]

['a', 'b', 'A', 'Z']

In [43]:
{k.lower(): mcase.get(k.lower(), 0) + mcase.get(k.upper(), 0) for k in mcase.keys()}

{'a': 17, 'b': 34, 'z': 3}

* 셋 컴프리헨션

In [44]:
squared = {x**2 for x in [1, 1, 2]}
squared

{1, 4}

## https://dojang.io/mod/page/view.php?id=2285

In [45]:
a = [i for i in range(10)]        # 0부터 9까지 숫자를 생성하여 리스트 생성
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
b = list(i for i in range(10))    # 0부터 9까지 숫자를 생성하여 리스트 생성
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
b = [i + 5 for i in range(10) if i % 2 == 1]    # 0~9 숫자 중 홀수에 5를 더하여 리스트 생성
b

[6, 8, 10, 12, 14]

In [48]:
a = [i * j for j in range(2, 10) for i in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [49]:
a = [i * j for j in range(2, 10)
           for i in range(1, 10)]

In [50]:
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

## https://realpython.com/list-comprehension-python/

In [51]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

* map() 객체 사용

In [52]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)

In [53]:
txns

[1.09, 23.56, 57.84, 4.56, 6.78]

In [54]:
final_prices = map(get_price_with_tax, txns)
final_prices

In [55]:
list(final_prices)

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [56]:
final_prices = [get_price_with_tax(i) for i in txns]
final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [57]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i in 'aeiou']
vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [58]:
sentence = 'The rocket, who was named Ted, came back from Mars because he missed his friends.'

def is_consonant(letter):
    vowels = 'aeiou'
    return letter.isalpha() and letter.lower() not in vowels

consonants = [i for i in sentence if is_consonant(i)]
consonants

['T',
 'h',
 'r',
 'c',
 'k',
 't',
 'w',
 'h',
 'w',
 's',
 'n',
 'm',
 'd',
 'T',
 'd',
 'c',
 'm',
 'b',
 'c',
 'k',
 'f',
 'r',
 'm',
 'M',
 'r',
 's',
 'b',
 'c',
 's',
 'h',
 'm',
 's',
 's',
 'd',
 'h',
 's',
 'f',
 'r',
 'n',
 'd',
 's']

In [2]:
a = [i for i in range(20) if i%3==0]
a

[0, 3, 6, 9, 12, 15, 18]

In [60]:
a = [i if i%3==0 for i in range(20)]

SyntaxError: invalid syntax (<ipython-input-60-7c91321cab57>, line 1)

In [61]:
a = [i if i%3==0 else 'pass' for i in range(20)]
a

[0,
 'pass',
 'pass',
 3,
 'pass',
 'pass',
 6,
 'pass',
 'pass',
 9,
 'pass',
 'pass',
 12,
 'pass',
 'pass',
 15,
 'pass',
 'pass',
 18,
 'pass']

In [62]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
prices = [i if i > 0 else 0 for i in original_prices]
prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [63]:
def get_price(price):
     return price if price > 0 else 0

prices = [get_price(i) for i in original_prices]
prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

* 집합과 사전의 내포

In [64]:
quote = "life, uh, finds a way"
unique_vowels = {i for i in quote if i in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'u'}

In [65]:
squares = {i: i * i for i in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
import random
def get_weather_data():
     return random.randrange(90, 110)

hot_temps = [temp for _ in range(20) if (temp := get_weather_data()) >= 100]
hot_temps

SyntaxError: invalid syntax (<ipython-input-3-8b95099635ed>, line 5)

In [67]:
import sys
sys.version

'3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]'

In [68]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city: [0 for _ in range(7)] for city in cities}
temps

{'Austin': [0, 0, 0, 0, 0, 0, 0],
 'Tacoma': [0, 0, 0, 0, 0, 0, 0],
 'Topeka': [0, 0, 0, 0, 0, 0, 0],
 'Sacramento': [0, 0, 0, 0, 0, 0, 0],
 'Charlotte': [0, 0, 0, 0, 0, 0, 0]}

In [69]:
matrix = [[i for i in range(5)] for _ in range(6)]
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [70]:
matrix = [[i for i in range(j, j+5)] for j in range(6)]
matrix

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8],
 [5, 6, 7, 8, 9]]

In [71]:
matrix = [[i for i in range(j, j+5)] for j in range(0, 30, 5)]
matrix

[[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29]]

In [72]:
matrix = [
    [0, 0, 0],
    [1, 1, 1],
    [2, 2, 2],
]
flat = [num for row in matrix for num in row]
flat

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [73]:
matrix = [[0, 0, 0],[1, 1, 1],[2, 2, 2]]

flat = []
for row in matrix:
    for num in row:
        flat.append(num)

flat

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [4]:
sum([i * i for i in range(1000)])

332833500

In [9]:
(i * i for i in range(1000))

In [7]:
sum(i * i for i in range(1000))

332833500

In [12]:
sum(i * i for i in range(100000000))

333333328333333350000000

In [13]:
sum([i * i for i in range(100000000)])

333333328333333350000000

In [77]:
sum(map(lambda i: i*i, range(1000000000)))

333333332833333333500000000

In [78]:
import random
import timeit
TAX_RATE = .08
txns = [random.randrange(100) for _ in range(100000)]

def get_price(txn):
    return txn * (1 + TAX_RATE)

def get_prices_with_map():
    return list(map(get_price, txns))

def get_prices_with_comprehension():
    return [get_price(txn) for txn in txns]

def get_prices_with_loop():
    prices = []
    for txn in txns:
        prices.append(get_price(txn))
    return prices

timeit.timeit(get_prices_with_map, number=100)

1.2543123000000094

In [79]:
timeit.timeit(get_prices_with_comprehension, number=100)

1.3858580000000131

In [80]:
timeit.timeit(get_prices_with_loop, number=100)

1.7145849000000055